<div id="banner">
  <!-- viewing helm 3 version of site (desktop) -->
  <p class="center text-center d-none d-lg-block">
    You are viewing docs for the {{ .Site.Params.versionbanner.archive }} release. View <a href="{{ .Site.Params.versionbanner.latest }}">main branch docs</a> for the latest changes.
  </p>
  
  <!-- viewing helm 3 version of site (mobile) -->
  <p class="center text-center d-lg-none">
    Viewing {{ .Site.Params.versionbanner.archive }} docs. <a href="{{ .Site.Params.versionbanner.latest }}">Latest changes</a>.
  </p>
</div>
