<div id="banner">
    <!-- viewing helm 3 version of site (desktop) -->
    <p class="center text-center d-none d-lg-block">
      You are viewing docs for the {{ .Site.Params.versionbanner.archive }} release. View the docs for the latest release <a href="{{ .Site.Params.versionbanner.latest }}">here</a>
    </p>
  
    <!-- viewing helm 3 version of site (mobile) -->
    <p class="center text-center d-lg-none">
      Viewing {{ .Site.Params.versionbanner.archive }} docs. <a href="{{ .Site.Params.versionbanner.latest }}">Latest changes</a>.
    </p>
  </div>