// OSM theme colors

// primary
$blue: #1128a9;
$green: #67ceb4;
// secondary
$bluem: #569cf5;
$greenl: #58f4cc;
$orange: #fb8143;
$orangel: F29A51;
$bluel: #c1d6f1;
$green-bg: #58f4cc;

// theme defaults
@import "support/functions";
@import "variables_project";
@import "variables";
@import "support/mixins";

@import "../../../../node_modules/bootstrap/scss/bootstrap.scss";

$fa-font-path: "../fonts" !default;
@import "../../../../node_modules/@fortawesome/fontawesome-free/scss/fontawesome.scss";
@import "../../../../node_modules/@fortawesome/fontawesome-free/scss/solid.scss";
@import "../../../../node_modules/@fortawesome/fontawesome-free/scss/brands.scss";

@import "support/utilities";
@import "colors";
@import "boxes";
@import "blog";
@import "code";
@import "nav";
@import "sidebar-tree";
@import "sidebar-toc";
@import "buttons";
@import "breadcrumb";
@import "alerts";
@import "content";
@import "search";
@import "main-container";
@import "blocks/blocks";
@import "section-index";
@import "pageinfo";

@if $td-enable-google-fonts {
  @import url($web-font-path);
}

footer {
  min-height: 150px;

  @include media-breakpoint-down(md) {
    min-height: 200px;
  }
}

// Adjust anchors vs the fixed menu.
@include media-breakpoint-up(md) {
  .td-offset-anchor:target {
    display: block;
    position: relative;
    top: -4rem;
    visibility: hidden;
  }

  h2[id]:before,
  h3[id]:before,
  h4[id]:before,
  h5[id]:before {
    display: block;
    content: " ";
    margin-top: -5rem;
    height: 5rem;
    visibility: hidden;
  }
}

// OSM Typography
body {
  font-family: BlinkMacSystemFont, -apple-system, segoe ui, roboto, oxygen,
    ubuntu, cantarell, fira sans, droid sans, helvetica neue, helvetica, arial,
    sans-serif;
  line-height: 1.636;
  font-size: 1.125rem;
  // color: $blue;
  color: #4a4a4a;
}

.breadcrumb {
  margin-top: -0.425rem;

  .breadcrumb-item + .breadcrumb-item::before {
    color: $greenl;
  }

  a {
    color: $bluem;
  }
}

// Left side menu
.td-sidebar {
  background: linear-gradient(0deg, #fff 0%, #e6fff8 100%);
  border-right: none;

  @media (min-width: 992px) {
    max-width: 22.5vw;
    margin-right: 2.5vw;
  }

  // global sidebar link styles
  ul {
    padding: 0 !important;
    margin: 0 !important;
    li {
      padding: 0 !important;
      margin: 0 !important;
      font-weight: 400;
      
      a {
        display: block;
        border-right: 4px solid transparent;
        @include transition;
        line-height: 1.4;
        padding: 0.25rem 1rem !important;

        &:hover {
          color: $bluem;
          border-right: 4px solid lighten($green, 15%) !important;
        }

        &.active {
          color: $blue;
          font-weight: 500;
          border-right-color: $green;
        }
      }
    }
  }

  // tiered sidebar link styles
  .td-sidebar-nav {
    margin-top: 0.825rem;
    padding: 0 0 2rem !important;

    ul.td-sidebar-nav__section {
      // hide the parent that duplicates 'docs'
      li:first-of-type {
        display: none;
      }
      ul.td-sidebar-docs-menu {
        
        li {
          font-size: 1rem;
          
          &:first-of-type {
            display: block;
          }

          a {
            padding: 0.75rem 1rem !important;
            font-weight: 500;
            color: $blue;
            border-top: 1px solid RGBA(196, 214, 238, 0.25);
          }

          // main menu categories
          ul {
            li {
              font-size: 1.125rem;

              a {
                padding: 0.75rem 1rem !important;
                border-top: 1px solid rgba(196, 214, 238, 0.67);
                font-weight: 500;
                color: $blue;

                &:hover {
                  color: $blue;
                  background-color: $bluel;
                }

                &.active {
                  border-right: 4px solid $green;
                }
              }
            } // main cat

            // second level sub-categories
            ul {
              padding: 0 !important;

              li {
                font-size: 1rem;

                a {
                  padding: 0.33rem 1.2rem 0.33rem !important;
                  font-weight: 400;
                  color: lighten(desaturate($blue, 50%), 5%);
                  border-top: none;

                  &:hover {
                    color: $blue;
                    background-color: $bluel;
                  }
                }

                &.active {
                  border-right-color: $green;
                }
              } // second

              // third level sub-sub-categories
              ul {
                padding: 0 !important;

                li {
                  // background: purple;

                  a {
                    padding-left: 1.25rem !important;
                    
                    &.active {
                      color: $blue;
                      border-right-color: $green;
                    }
                  }
                } // third

                // fourth level sub-sub-categories
                ul {
                  padding: 0.5rem 0 !important;
                  li {
                    font-size: 1rem;

                    a {
                      padding: 0.125rem 0 0.125rem 1rem !important;
                      margin-left: 1.5rem !important;
                      position: relative;

                      &:before {
                        border: solid $green;
                        border-width: 0 3px 3px 0;
                        display: inline-block;
                        content:  " ";
                        padding: 3px;
                        transform: rotate(-45deg);
                        -webkit-transform: rotate(-45deg);
                        position: absolute;
                        left: -0.2rem;
                        top: 0.5rem;
                      }
                      
                      &.active {
                        color: $blue;
                        border-right-color: $green;
                      }
                    }
                  }
                } // fourth

              }
            }
          }
        }
      }
    } //ul 
  }
}


.td-sidebar__inner {
  top: 7.5rem;
}

.td-navbar {
  background-color: #fefefe;
  background-image: url(../images/osm-web-top.jpg),
    url(../images/osm-web-tile.png);
  background-repeat: no-repeat, repeat-x;
  background-position: right bottom;
  background-size: cover;
  padding-top: 40px;

  .navbar-brand {
    .navbar-logo {
      position: absolute;
      left: -0.25rem;
      top: 0.75rem;
      max-width: 10vw;

      svg {
        width: auto;
        height: 108px;
      }
    }

    span.text-uppercase {
      position: absolute;
      left: -999em;
    }
  }

  .nav-item.dropdown {
    border-left: 1px solid $bluel;
    padding-left: 0.5rem;

    a {
      font-weight: normal;
    }
  }
}

.td-outer {
  padding-top: 3.5rem;
}

.td-search-input {
  background: white;
  border: none;
  border-radius: 3rem;
  outline: none;
  font-size: 0.85rem;
  box-shadow: none;
  color: $bluem;
}

// Main content column
.td-content {
  padding: 0 1vw;
  min-height: 200vh;

  // center things nicely
  margin-left: auto;
  margin-right: auto;
  width: 70vw;
  max-width: 67rem;

  @media (max-width: 991px) {
    width: 86vw;
    max-width: 80rem;
  }

  @media (min-width: 992px) {
    .td-max-width-on-larger-screens, .td-content > pre, .td-content > .highlight, .td-content > .lead, .td-content > h1, .td-content > h2, .td-content > ul, .td-content > ol, .td-content > p, .td-content > blockquote, .td-content > dl dd, .td-content .footnotes, .td-content > .alert {
      max-width: 100% !important;
    }
  }

  h1,
  h2,
  h3 {
    color: $blue;
    margin: 0.667em 0;
  }

  h1 {
    font-family: "Spartan";
    font-weight: normal;
    line-height: 1.425;
    font-weight: bold;
    margin-top: 3.35rem;
  }

  h1 + p {
    font-size: 1.25rem;
    color: desaturate($blue, 35%);
    line-height: 1.825;
    margin-bottom: 4.25rem;
  }

  p + h3 {
    margin-top: 3.5rem;
  }

  h2 {
    font-size: 1.33rem;
  }

  p {
    line-height: 1.636;
    color: desaturate($blue, 75%);
  }

  ul,
  ol,
  li,
  blockquote {
    line-height: 2;
    margin-bottom: 3.25rem;
  }

  a {
    position: relative;
    border-bottom: 3px solid rgba(180, 180, 180, 0.2);

    &:after {
      width: 10%;
      height: 3px;
      display: inline-block;
      content: " ";
      position: absolute;
      background-color: $bluem;
      left: 50%;
      bottom: -3px;
      opacity: 0;
      transition: all 0.2s ease;
    }

    &:hover {
      &:after {
        left: 0%;
        width: 100%;
        opacity: 1;
      }
    }
  }

  code,
  li code,
  table code,
  p code {
    background: lighten(desaturate($green-bg, 15%), 25%);
  }

  div.highlight pre,
  div.code-toolbar pre {
    background: linear-gradient(
      180deg,
      lighten(desaturate($green-bg, 23.5%), 27.5%) 0%,
      lighten(desaturate($green-bg, 25%), 30%) 100%
    );
    border-radius: 1rem;
    margin-top: 2rem;
    margin-bottom: 2.5rem;

    code[class*="language-"],
    pre[class*="language-"] {
      background: transparent !important;
    }
  }

  .td-content .highlight,
  .highlight {
    border: none;
    margin: 0;
  }

  .td-content code {
    background: transparent;
  }
}

// Right hand side
.td-toc {
  top: 7.25rem !important;
  border-left: 1px solid $greenl;

  li {
    margin: 0.5rem 0;
  }
}

footer {
  width: 100%;
  max-width: 100%;
  border-top: 1px solid rgba(100, 100, 100, 0.125);
  padding: 2.5rem 0 3.5rem !important;
  background-color: #fafafa;
  min-height: 25em;
  position: relative;
  margin-left: -5vw;
  margin-right: -5vw;

  a {
    color: $bluem;
  }

  img {
    max-width: 12.5vw;
  }

  nav {
    float: right;
    margin: 1rem 0 0;
  }

  h4 {
    line-height: 1.667;
  }

  .footer-cncf {
    color: $blue;
    font-family: Spartan;
    font-weight: 600;
    font-size: 1.333rem;
    padding-right: 5vw;
    margin: 1em 0 1.5em;

    a {
      font-size: 1.425rem;
      letter-spacing: 0.035em;
      color: $blue;
    }

    img {
      max-width: 20vw;
    }
  }

  .footer-legal {
    margin: 0;
    font-size: 1rem;
  }

  .navbar-menu {
    a.navbar-item {
      margin: 0.25rem 0.75rem 0;
      padding-left: 0;
      padding-right: 0;
      padding-bottom: 0.2rem;
      border-bottom: 3px solid lighten($bluel, 7.5%);

      &:hover {
        border-bottom-color: $greenl;
      }
    }
  }
}

.popover {
  margin: 0;
  top: 10.5rem !important;
  left: 0 !important;
  right: 10vw !important;
  bottom: 0 !important;
  min-width: 33vw;
  max-width: 600px !important;
  position: fixed !important;
  box-shadow: 0 5px 12px 11999px rgba(60,60,60,0.5);

  .popover-body {
    padding: 1.5rem 2rem;
    overflow-y: scroll;
    display: inline-block;
    height: auto;
    position: fixed;
    top: 0;
    bottom: 0;

    span {
      font-size: 1.5rem;
      margin: 1rem 0;
      color: $blue;
      display: block;
      font-weight: bold;
      text-transform: capitalize;
    }
    .search-result-close-button {
      right: 1.5rem;
      top: 1.25rem;
      font-size: 1.333rem;
      color: #666;
      cursor: pointer;
      position: fixed;
      top: 1.5rem;
    }

    .mt-4 {
      position: relative;
      
      small {
        position: absolute;
        top: 2rem;
      }

      a {
        font-weight: bold;
        font-size: 1.125rem;
        margin: 0.925rem 0 2rem;
        display: block;
      }
      p {
        margin-bottom: 2rem;

      }
    }
  }
}
